body {
  padding: 10%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

form > * {
  display: block;
  margin: 5px 0;
}

input[type="file"],
input[type="text"],
textarea {
  box-sizing: content-box;
  width: 16em;
}

input[type="submit"] {
  margin-top: 20px;
}
